*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
$neon: hotpink;
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    header{
        display: flex;
        .hoofd{
            margin: auto;
            margin-top: 20px;
            margin-bottom: 40px;
            p{
                position: relative;
                color: $neon;
                font-size: 2em;
                text-shadow: 0 0 3px white;
                text-shadow: 0 0 20px $neon;
                &::after{
                    content: '';
                    position: absolute;
                    top: 120%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $neon;
                    filter: blur(1em);
                    opacity: 0.4;
                    transform: perspective(1.5em) rotatex(35deg);
                }
            }
        }
    }
    .display{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-image: url(./images/galaxy2.jpg);
        padding-top: 5px;
        .card{
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 350px;
            margin: auto;
            border-radius: 5px;
            
            .image{
                position: relative;
                height: 160px;
                border-radius: 5px;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                overflow: hidden;
                &::before{
                    content: '';
                    position: absolute;
                    background-color: white;
                    width: 100%;
                    height: 100%;
                    bottom: 90%;
                    border-bottom: 2px solid black;
                    

                }
                img{
                    width: 110%;
                    display: block;
                    border-radius: 5px;
                    
                }
            }
            .title{
                width: 98%;
                margin: auto;
                background-color: rgba(255, 255, 255,0.4);
                border-right: 2px solid black;
                font-weight: bold;
                text-align: center;
            }
            .genre{
                display: flex;
                justify-content: end;
                gap: 2px;
                width: 98%;
                margin: auto;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-right: 2px;
                border-right: 2px solid black;
                background-color: rgba(255, 255, 255, 0.4);
                .genreType{
                    width: 80px;
                    background-color: #fefefe;
                    border: 1px solid grey;
                    border-radius: 25px;
                    padding: 2px;
                    text-align: center;
                }
            }
            .description{
                position: relative;
                width: 98%;
                flex: 1;
                margin: auto;
                border-right: 2px solid black;
                background-color: rgba(255, 255, 255, 0.4);
                text-align: center;
                padding-bottom: 2px;
                &:after{
                    content: '';
                    position: absolute;
                    width: 20%;
                    height: 1px;
                    margin: auto;
                    background-color: black;
                    top: 35px;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
            .origin{
                width: 98%;
                margin: auto;
                border-right: 2px solid black;
                background-color: rgba(255, 255, 255, 0.4);
                padding-bottom: 2px;
            }
            .site{
                display: flex;
                align-items: center;
                border-radius: 5px;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                height: 30px;
                background-color: #fefefe;
                padding-left: 5px;
                .search{
                    display: block;
                    border: 1px solid black;
                    border-radius: 20px;
                    box-shadow: 3px 2px black;
                    &:hover{
                        box-shadow: none;
                    }
                }
                .siteTitle{
                    margin: auto;
                    display: none;
                }
            }
        }    
    }
    footer{
        background-color: white;
        width: 100vw;
        margin-top: 10px;
        p{
            font-size: 0.5em;
        }
    }
}

@media only screen and (min-width: 768px ) {
    body{
        header{
            .hoofd{
                p{
                    font-size: 3em;
                }
            }
        }
        .display{
            width: 95%;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
@media only screen and (min-width: 1024px){
    body{
        header{
            .hoofd{
                p{
                    font-size: 4em;
                }
            }
        }
        .display{
            .card{
                &:hover{
                    .title{
                        display: block;
                    }
                    .genre{
                        display: flex;
                    }   
                    .description{
                        display: block;
                    }             
                    .origin{
                        display: block;
                    }
                    .site{
                        .siteTitle{
                            display: none;
                        }
                    }
                }
                .title{
                    display: none;
                }
                .genre{
                    display: none;
                }
                .description{
                    display: none;
                }
                .origin{
                    display: none;
                }
                .site{
                    .siteTitle{
                        display: block;
                    }
                }
            }
        }
    }
}