*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
body{
    width: 100vw;
    background-color: grey;
    .display{
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: green;
        .card{
            width: 300px;
            margin: auto;
            border-radius: 5px;
            backdrop-filter: blur 20px;
            
            .image{
                height: 160px;
                border-radius: 5px;
                overflow: hidden;
                img{
                    width: 110%;
                    display: block;
                    border-radius: 5px;
                    
                }
            }
            .title{
                width: 98%;
                margin: auto;
                background-color: rgba(255, 255, 255, 0.2);
                font-weight: bold;
                text-align: center;
            }
            .genre{
                display: flex;
                justify-content: end;
                gap: 2px;
                width: 98%;
                margin: auto;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-right: 2px;
                background-color: rgba(255, 255, 255, 0.2);
                .genreType{
                    width: 80px;
                    background-color: lightgray;
                    border-radius: 25px;
                    padding: 2px;
                    text-align: center;

                }
            }
            .description{
                width: 98%;
                margin: auto;
                background-color: rgba(255, 255, 255, 0.2);
            }
            .site{
                border-radius: 5px;
                background-color: lightgray;

            }
        }
    }
}
